body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-container {
    background-color: #c0c0c0;
    padding: 10px;
    border: 3px outset #eee;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}

.menu-superior {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #bbb;
    margin-bottom: 10px;
    border: 2px inset #fff;
}

.stats {
    display: flex;
    justify-content: space-around;
    background: #000;
    color: #f00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    border: 3px inset #888;
    background-color: #7b7b7b;
}

.cell {
    width: 25px;
    height: 25px;
    border: 3px outset #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.cell.revealed {
    border: 1px solid #7b7b7b;
    background-color: #bdbdbd;
}

/* Cores dos números */
.n1 { color: blue; }
.n2 { color: green; }
.n3 { color: red; }
.n4 { color: darkblue; }

.flag { background-color: #f1c40f !important; }
.bomb { background-color: #000 !important; }